body {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-size: 17px;
}

section#column {
	columns: 3 auto;
	column-gap: 4mm;
	margin-right: 20mm;
	page-break-after: always;
	break-after: always;
}

section {
    /* break-inside: avoid; */
}

#title {
	text-align: left;
	font-size: 70px;
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 30px;
	padding-top: 0;
	line-height: 50px;
}

i {
	font-style: italic;
	font-weight: normal;
}

sc {
	font-variant: small-caps;
}

h1 {
	font-style: italic;
	font-weight: normal;
	margin-top: 4mm;
	margin-bottom: 2mm;
}

h2 {
    text-align: left;
	margin-bottom: -2mm;
	break-inside: avoid;
}

h2#premier {
	margin-top: 0;
}

img {
	padding-top: 20px;
	padding-bottom: 22.5px;
	left: 10px;
	width: 100px;
}


ul {
    list-style-type: '\00D7  ';;
    padding-left: 10px;
}

li {
    padding-bottom: 5px;
	break-inside: avoid;
}


table {
	transform:rotate(90deg);
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    empty-cells: show;
    width: 270mm;
	page-break-after: always;
	break-after: always;
}

table.first {
	position: absolute;
	top: 134mm;
	left: 52mm;
	break-after: always;
}

table.second {
	position:relative;
	height: 100%;
	line-height: 30mm;
	top: 44mm;
	left: -39mm;
}

tr.header {
    font-weight: bold;
	line-height: normal;
}

td {
    text-align: center;
    border: 1px solid black;
}

@media print {
	@page {
		size: 210mm 297mm;
		margin-top: 7mm; /* 1/9th */
		margin-bottom: 7mm; /* 1/9th, 66mm for 2/9th */
		margin-right: 7mm; /* 1/9th */
		margin-left: 7mm;/* 4/9th */
	}
}