body {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-size: 28px;
}

i {
	font-style: italic;
	font-weight: normal;
}

strong {
	text-decoration: underline;
	font-weight: normal;
}

h1 {
	font-size: 100px;
}

h1, h2 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

ol {
	margin-top: 10px;
}

img {
	width: 140mm;
	height: auto;
	position: fixed;
	right: 0px;
	top: 450px;
}

p {
	margin: 0;
}

#definition {
	margin-top: 20mm;
}

#infos {
	position: absolute;
	bottom: 0px;
	font-size: 24px;
}

@media print {
	html, body {
	width: 210mm;
	height: 297mm;
	background-color: #aaa;
	}

	@page {
		margin-top: 13mm; /* 1/9th */
		margin-bottom: 23.3mm; /* 1/9th, 66mm for 2/9th */
		margin-right: 23.3mm; /* 1/9th */
		margin-left: 23.3mm;/* 4/9th */
		background-color: #aaa !important;
	}

	svg {
		top: 0;
		right: 0;
		position: fixed;
		fill: back;
	}
}