body {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-size: 12px;
	text-align: justify;
}

#title {
	text-align: left;
	font-size: 80px;
	font-weight: 200;
	margin-left: 3mm;
}

section#definition {
	margin-top: 7mm;
	margin-left: 3mm;
	margin-bottom: 5mm;
	font-size: 16px;
}

section#column {
	columns: 2 auto;
	column-gap: 4mm;
	/*widows: 2;
	orphans: 3;*/
}

section#endnotes {
	margin-top: 4mm;
}

i {
	font-style: italic;
	font-weight: normal;
}

h1, h2 {
	font-style: italic;
}

h1 {
	margin-top: 4mm;
	margin-bottom: 2mm;
	font-weight: normal;
	page-break-after: avoid;
	break-after: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

h1+h2 {
	margin-top: 0mm;
}

h2 {
	margin-top: 3mm;
	margin-bottom: 0;
	padding: 0;
	display: inline-block;
	font-size: inherit;
	font-weight: bold;
	margin-right: 1mm;
	line-height: inherit;
	page-break-inside: avoid;
	break-inside: avoid;
}

/* h2#break {
	page-break-before: always;
} */

p {
	display: inline;
	hyphens: auto;
	widows: 2;
	orphans: 2;
}

p::after {
	content: "\A";
	white-space: pre;
}

ul, ol {
	margin-block-start: 16px;
	margin-block-end: 16px;
	list-style-position: inside;
	padding-left: 5mm;
}

li {
	text-align: left;
	hyphens: none;
}

a {
	font-family: 'IBM Plex Mono';
	text-decoration: none;
	color: #000;
	overflow-wrap: break-word;
}

sup {
	font-size:8px;
	line-height: 0;
}

sup::before {
	font-size: 6px;
	content: "\202F";
}

.sdfootnotesym{
	margin-right: 2mm;
}

.sdfootnotesym::after{
	content: ".";
}

code {
	font-family: 'IBM Plex Mono';
	hyphens: none;
}

img {
	padding-top: 20px;
	padding-bottom: 22.5px;
	left: 10px;
	width: 100%;
}

@media print {
	@page {
		size: 148.5mm 210mm;
		margin-top: 7mm; /* 1/9th */
		margin-bottom: 7mm; /* 1/9th, 66mm for 2/9th */
		margin-right: 7mm; /* 1/9th */
		margin-left: 7mm;/* 4/9th */
	}
}