body {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-size: 16px;
}

i {
	font-style: italic;
	font-weight: normal;
}

p {
	margin: 0;
	padding-left: 10px;
	text-indent: -10px; /* each-line property could be interesting there */
}

sup {
	line-height: 0;
}

@media print {
	@page{
		/* margins that define a 9x9 grid */
		size: 210mm 297mm;
		margin-top: 33mm; /* 1/9th */
		margin-bottom: 66mm; /* 1/9th, 66mm for 2/9th */
		margin-left: 23.3mm; /* 1/9th */
		margin-right: 93.3mm;  /* 4/9th */
		/* marks: crop; */
		padding-bottom: 24px;

		@bottom-left{
			content: counter(page);
			vertical-align: middle; /* set to middle when using 2/9th for margin-bottoms */
		}
	}

	@page:first {
		@bottom-left{
			/* content: none; */
		}
	}

	.name{
		break-before: avoid;
		margin-top: 0;
	}

	section{
		counter-reset: page 1;
		break-after: page;
		widows: 2;	/* doesn't work in FF, and only works within one p tag.*/
	}				/* which means that we must but it in only one p tag */
					/* but then, the each-line property doesn't work for the indentation */

	p{
		page-break-inside: avoid;
	}
}