.overlay, img {
	width: 700px;
	height: 1000px;
}

.overlay{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	box-shadow: inset 0px 0px 100px 100px #FFF;
	position: absolute;
}

div.svg {
	text-align: center;
}