body {
	font-family: 'IBM Plex Serif';
	font-weight: 500;
	font-size: 45px;
}

button, input, select, textarea {
	text-indent: 3px;
	font-family: 'IBM Plex Serif';
	font-style: italic;
	font-size: 100%;
}

[placeholder]:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus {
	border-top-style: groove;
	border-right-style: groove;
	border-left-style: groove;
	border-bottom-style: groove;
	border-radius: .05em;
}

.no-outline:focus, textarea:focus, input:focus {
	outline: none !important;
}

i {
	font-style: italic;
	font-weight: normal;
}

form {
	display: inline-block;
}

p {
	margin: 0;
	padding-left: 10px;
	text-indent: -10px;
	display: inline-block;
}

#fullscr-toggler{ 
	display: none!important;
}

/* the @media print to specify this only affect the content when printed*/
@media print {
	@page {
		/* we remove margin and padding*/
		margin: 1rem 1rem;
		padding: 25mm;
		/* we position the .page body on the top left angle of the page*/
		left: 0;
		top: 0;
	}

	button, input, select, textarea, p {
		font-family : "IBM Plex Serif";
		font-style: italic;
		font-weight: normal;
	}

	body {
		padding-left: 10mm;
		padding-right: 100mm;
		font-family: "IbmPlexMed";
		font-size: 20px;
	}
}