<form id="form" class="searchForm" action="/confirm" method="POST">
	<span id="confirm">
		<button type="submit" name="button" value="yes">Oui</button>
		<button type="submit" name="button" value="no">Non</button>
	</span>
</form>
